<div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="birdForm">
        <h1>Create Bird</h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" required>
        </div>
        <div class="form-group">
            <label for="scientificName">Scientific Name:</label>
            <input type="text" id="scientificName" formControlName="scientificName" required>
          </div>
      
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description" required></textarea>
          </div>
      
          <div class="form-group">
            <label for="predominantColor">Predominant Color:</label>
            <input type="text" id="predominantColor" formControlName="predominantColor" required>
          </div>
          
          <div class="form-group">
            <label for="image">Bird Image:</label>
            <input type="file" id="image" (change)="onFileSelect($event)" accept="image/*" required>
          </div>

          <button type="submit" [disabled]="!birdForm.valid">Create Bird</button>
    </form>
</div>