<footer>
  <div class="footer-content">
      <section class="footer-info">
          <h2>Sobre Mim</h2>
          <p>Sou Guilherme Beckman, um desenvolvedor dedicado à criação de soluções eficientes e inovadoras. Tenho experiência em desenvolvimento de sistemas e busco sempre entregar projetos de alta qualidade, aplicando boas práticas e novas tecnologias para garantir eficiência.</p>
      </section>

      <section class="footer-contact">
          <h2>Contato</h2>
          <p>Email: <a href="mailto:guilhermebeckman3&#64;gmail.com">guilhermebeckman3&#64;gmail.com</a></p>
      </section>   
  </div>
  
  <div class="footer-bottom">
      <p>© 2025 Guilherme Beckman. Todos os direitos reservados.</p>
  </div>
</footer>
