<section class="card-container">
    <article class="card">
      <header class="card-header">
        <h2>Card Title</h2>
      </header>
      <img src="assets/tuiuiu.jpg" alt="Description of the image" loading="lazy">
      <div *ngIf="showMore" class="card-body">
        <p>Some informative description of the card content that includes keywords.</p>
      </div>
      <div class="read-more-button">
        <button (click)="showMoreInfo()">Read More <i [class]="showMore ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i></button>
      </div>
     
     
    </article>
  </section>
  