<section class="card-container">
    <article *ngFor="let card of visibleCards; let i=index"  class="card" [class.show-more]="card.showMore">
      <header class="card-header">
        <app-edit-bird-button [birdId]="card.id" [isLoggedIn]="isLoggedIn" ></app-edit-bird-button>
        <app-delete-bird-button [birdId]="card.id" [isLoggedIn]="isLoggedIn" (deleteBirdEvent)="deleteBird($event)"></app-delete-bird-button>
        <h2>{{ card.name }}</h2>
      </header>
      <img src="{{ card.imageUrl }}" alt="alt image " loading="lazy">
      <div *ngIf="card.showMore" class="card-body">
        <p>{{ card.description }}</p>
        <p>Nome Cientifico: {{ card.scientificName }}</p>
        <p>Cor Predominante: {{ card.predominantColor }}</p>
      </div>
      <div class="read-more-button">
        <button (click)="showMoreInfo(i)">Read More <i [class]="card.showMore ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i></button>
      </div>
    </article>
  </section>
  <div class="load-more-button" *ngIf="cards.length > visibleCards.length && visibleCards.length >= 6">
    <button (click)="loadMore()">Carregar Mais</button>
   </div>
  