.social-media {
    padding: 20px;
    background-color: #b4b4b4;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  i{
    font-size: 50px;
    color: black;

  }
  